* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

.nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}


/* body */

body {
    height: 100vh;
    background-color: #f6f5f3;
    /* Grigio chiaro per lo sfondo */
}

/* Navbar Container Styles */

.navbar-container {
    width: 100%;
    padding: 10px 0;
    background-color: white;
}

.row-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar Title Styles */
.navbar-title {
    font-family: 'Nerko One', cursive;
    color: orange;
    font-size: 44px;
    /* Regola la grandezza del testo */
}

/* Main container and columns */
.main-container {
    background-color: #f6f5f3;
    padding: 10px 20px;
}

.food-name {
    padding: 20px 0px;
}

#food-title {
    color: purple
}

#food-category {
    color: gray;
    font-weight: 100;
}

.food-brief {
    background-color: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.video-player {
    width: 100%;
    /* Larghezza al 100% del contenitore */
    height: 300px;
    /* Altezza fissa */
}

.food-brief-container {
    padding: 20px 20px;
}

.food-brief-list {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.social-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.social-btn {
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 999px;
}

.tiramisu {
    width: 60%;
}

.row-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    background-color: purple;
    color: white;
    padding: 24px;
}

a {
    color: white;
}

.row-footer,
.giallo-booleano {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-flex {
    display: flex;
    gap: 20px;
}

.img-title {
    margin-bottom: 12px;
}

.img-title::after {
    content: '';
    display: block;
    height: 2px;
    width: 75px;
    background-color: orange;
}

.img-description {
    line-height: 28px;
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 16px;
}

.banner-img {
    display: none;
    width: 100%;
}

.button-text {
    display: none;
}

/* tablet 768 */


@media (min-width: 768px) {

    .video-player {
        height: 378px;
    }

    .food-brief-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0;
        padding-top: 10px;
    }

    .col {
        width: 33%;
        margin-top: 20px;
    }

    .social-buttons {
        justify-content: space-between;
    }

    .social-btn {
        width: 18%;
        box-shadow: 0 3px 7px 1px grey;
    }

    .img-title {
        margin-bottom: 24px;
        margin-top: 12px;
    }

    .img-title::after {
        margin-top: 8px;
    }

    .row-info {
        display: block;
    }

    .tiramisu {
        float: left;
        width: 40%;
        margin-right: 8px;
    }

    .banner-img {
        display: block;
    }

    .food-container {
        margin-bottom: 32px;
    }

    .main-container {
        padding-left: 48px;
        padding-right: 48px;
    }
}




/* desktop 992 */
@media (min-width: 992px) {
    .row-header {
        display: block;
        padding-left: 20px;
    }

    .main-container {
        max-width: 1100px;
        margin: auto;
    }

    .food-brief {
        display: flex;
    }

    .food-brief-container,
    .video-player {
        width: 50%;
    }

    .food-brief-list {
        flex-direction: column;
    }

    .col {
        width: 100%;
    }

    .button-text {
        display: inline;
    }

.social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.giallo-booleano {
    display: block;
}
.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
}